<!-- Begin page content -->
<div class="container">
  <nav class="navbar">
    <div class="container" align="center">
      <div class="navbar-header" align="center">
        <h1 style="color: white;">Game</h1>
        <br>
      </div>
    </div>
  </nav>
  <div class="row">
    <div id="timerkeeper" class="col-md-4">
      <img src="images/teethanimation.gif" class="center-block" height="170">
      <div id="countdown"></div>
    </div>
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-4">
          <img id="img-1" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-4">
          <img id="img-3" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-4">
          <img id="img-5" class="img-responsive img-thumbnail">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img id="img-2" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-4">
          <img id="img-4" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-4">
          <img id="img-6" class="img-responsive img-thumbnail">
        </div>
      </div>

    </div>
  </div>

</div>
