<!-- Begin page content -->
<div class="container">
  <nav class="navbar">
    <div class="container" align="center">
      <div class="navbar-header" align="center">
        <h1 style="color: white;">Приглашаем Вас принять участие в игре от VATECH</h1>
        <br>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <img src="images/ezsensor.png" class=" img-responsive">
          </div>
          <div class="col-md-4">
            <img src="images/comp.png" class=" img-responsive">
          </div>
          <div class="col-md-4">
            <img src="images/flex.png" class=" img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button><a href="#/game">Game</a></button>
</div>
