<!-- Begin page content -->
<div class="container">
  <div class="alert-info">
    <h2>Приглашаем Вас принять участие в игре от VATECH</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="ban banner-matter">
        <div class=" ban-in ban-grid">
          <img class="img-responsive " src="images/comp.png" alt="">
        </div>
        <div class=" ban-in ban-grid1">
          <img class="img-responsive" src="images/ezsensor.png" alt="">
        </div>
        <div class=" ban-in ban-grid2">
          <img class="img-responsive " src="images/flex.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button class="btn btn-default btn-lg btn-block" onclick="location.href = '#/game';">Game</button>
</div>
